/* 사진 보여주거나 숨기는 버튼 */ 
#ProfileImageButton{
    margin-top: 135px;
    margin-left: 90px;
    display: block;
    border: none;

}

/* 내 사진 이미지가 위치하는 섹션 */
#imageSection {
    background-color: gray;
    width: 250px;
    height: 308px;
    border-radius: 25px;
    margin-left: 20px;
    float: left;
}

/* 내 사진 이미지 */ 
#profileImg {
    display: none;
    border-radius: 20px;
    /* 이미지 가운데 정렬 */
    height: 250px;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 자기소개 섹션 */
#infoSection {
    background-color: #03fc7f;
    float: left;
    width: 500px;
    height: 290px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    margin-left: 25px;
}

/* 모든 button 태그에 대해: */ 
button {
    padding: 7px; 
    border-radius: 7px;
    cursor: pointer;
} 

/* 취미 섹션 */ 
#hobbySection {
    margin-top: 350px;
}